<%- include('header'); -%>
<h1>
    ABOUT PAGE
</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, nulla id. Laudantium rerum odit quis repellendus maiores aspernatur harum dolore fugiat corporis est! Ipsum eligendi ullam saepe sunt. Perferendis, deleniti!</p>

<%- include('footer'); -%>